body{
    position: relative;
    height: 100vh;

}
.main-container{
   width: 800px;
   padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(73, 68, 68);
    display: grid;
    gap: 10px;
    grid-template-columns: 0.7fr 1fr 1fr ;
    grid-template-rows: 80px 200px 200px 100px ;
}
.item{
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.header{
background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(134,25,217,1) 47%);
grid-column: 1/4;
grid-row: 1/2;
}
.content-1{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,47,121,1) 0%, rgba(0,212,255,1) 100%);
grid-column: 2/4;
}
.content-2{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,47,121,1) 0%, rgba(0,212,255,1) 100%);
}
.content-3{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,47,121,1) 0%, rgba(0,212,255,1) 100%);
}
.slidebar{
    background-color: aqua;
    grid-row: 2/4;
    grid-column: 1/2;
}
.footer{
background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(134,25,217,1) 47%);
grid-row: 4/5;
grid-column:1/4 ;
}
@media screen and (max-width : 600px) {
.main-container{
  width: 380px;
} 
}
@media screen and (min-width : 601px) and (max-width : 900px){
.main-container{
    width: 750px;
}
}